h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0;
}
.line-height-1-1 {
  line-height: 1.1;
}
.p-absolute {
  position: absolute;
}
.p-relative {
  position: relative;
}
.custom-icon {
  font-size: 1.13333rem;
  right: -1rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.y-align {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
html {
  font-size: calc(16px + (16 - 16) * (100vw - 320px) / (1950 - 320));
  direction: rtl;
}
body {
  font-family: 'Heebo', sans-serif !important;
  text-align: right !important;
}
.text-1 {
  font-size: 2.5rem;
}
.text-2 {
  font-size: 1.23rem;
}
.text-3 {
  font-size: 1.47rem;
}
.text-4 {
  font-size: 1.1rem;
  font-weight: 600;
}
.text-5 {
  font-size: .85rem;
}
.text-p {
  font-size: 1rem;
}
.color-1 {
  color: #3F3F3F;
}
.color-2 {
  color: #4F81BD;
}
.color-3 {
  color: rgba(63, 63, 63, 0.61);
}
.line {
  background-color: #3F3F3F;
  width: 100%;
  height: 0.56rem;
}
/*# sourceMappingURL=style.css.map */